@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
html,body{
  height:100%;
}
body {
  background: #112 center no-repeat;
  background-image: url("img/fondo.jpg");
  background-size:cover;
  margin:0
}
.logo {
  text-align: center;
  width: 65%;
  height: 250px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
   user-select: none;
   border: 0.2rem solid #fff;
   border-radius: 2rem;
   box-shadow: 0 0 .2rem #fff,
   0 0 .2rem #fff,
   0 0 2rem #bc13fe,
   0 0 0.8rem #bc13fe,
   0 0 2.8rem #bc13fe,
   inset 0 0 1.3rem #bc13fe; 
   animation: pulsate 1.5s infinite alternate;  
}.logo b{
  font: 400 19vh 'Satisfy', cursive;
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #bc13fe, 0 0 0.5em #bc13fe, 0 0 0.1em #bc13fe, 0 10px 3px #000;
}.logo b span{
  animation: blink linear infinite 2s;
}.logo b span:nth-of-type(2){
  animation: blink linear infinite 3s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {
    
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}
